{% extends 'baseMain.html.twig' %}

{% block title %}Liste des questions{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('question') }}
{% endblock %}

{% block content %}
    <div class="card-deck">

        {% for quiz in quizzes %}
            {{ include('question/partiels/_card_question.html.twig') }}
        {% endfor %}

    </div>
{% endblock %}
