{% extends 'baseMain.html.twig' %}

{% block title %}question numéro :{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('question') }}
{% endblock %}

{% block content %}

    <div>test</div>
{% endblock %}
