{% extends 'baseMain.html.twig' %}

{% block title %}Questionnaire : {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('question') }}
{% endblock %}

{% block content %}
    <div id="listQuestions" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">1</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">2</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">3</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">4</a>
        <a class="list-group-item list-group-item-action" href="#list-item-5">5</a>
        <a class="list-group-item list-group-item-action" href="#list-item-6">6</a>
        <a class="list-group-item list-group-item-action" href="#list-item-7">7</a>
        <a class="list-group-item list-group-item-action" href="#list-item-8">8</a>
        <a class="list-group-item list-group-item-action" href="#list-item-9">9</a>
        <a class="list-group-item list-group-item-action" href="#list-item-10">10</a>
        <a class="list-group-item list-group-item-action" href="#list-item-11">11</a>
        <a class="list-group-item list-group-item-action" href="#list-item-12">12</a>
    </div>


    <div class="row">


        <div class="col-11">
            <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                <h4 id="list-item-1">Question 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aperiam inventore! Autem iure nulla ratione! Amet corporis debitis dolorem ducimus ex fuga fugit magnam, obcaecati officia omnis pariatur velit voluptate?</p>
                <h4 id="list-item-2">Item 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam, animi aspernatur at blanditiis dolor ducimus ea eaque excepturi fuga iusto optio perspiciatis quia sunt totam vero voluptates? Ex expedita facilis harum, labore laborum maiores obcaecati provident quod similique temporibus tenetur vero. Ab aliquam atque delectus enim error fuga illo illum libero nihil nobis numquam placeat quam, qui rem repellendus rerum temporibus vero. Accusamus accusantium at atque cum dolorem doloremque eligendi est eum excepturi expedita harum illo incidunt itaque magnam, modi molestias nam nobis, nostrum placeat quis quo repellat saepe sapiente sed sit soluta ullam voluptatibus! Accusantium at doloribus eligendi explicabo harum laboriosam molestiae nam praesentium provident voluptas, voluptate voluptatem, voluptatum! Ad alias aliquid asperiores dolores doloribus dolorum exercitationem impedit ipsum itaque laborum magni molestiae nihil nostrum, officiis perferendis quae quaerat quam, quia reprehenderit sunt tenetur vitae voluptatem? Deleniti dicta enim hic, itaque laborum quae quam. Ad alias aliquid aut autem beatae cum dicta, distinctio dolorem dolores et eum incidunt necessitatibus perspiciatis quia sunt, suscipit ullam vel. Accusamus aperiam asperiores consequatur culpa doloribus est expedita id inventore ipsa laboriosam maiores neque nihil nisi pariatur, quidem quis quod recusandae rem tempore temporibus, ut velit, veritatis voluptate voluptatem voluptatibus? Asperiores atque dolorem error, fugit illo ipsum iure modi mollitia necessitatibus odio praesentium qui repellat repellendus, similique ut veniam voluptas. Ab ad aperiam aut blanditiis consequatur corporis laudantium optio reprehenderit saepe sit? Consectetur deserunt ea exercitationem magnam perferendis veniam voluptas. Adipisci animi aperiam consequatur consequuntur corporis deserunt earum explicabo fugiat harum labore, minima, nam non obcaecati odio quae quis repellat sequi sit tenetur velit. Consectetur eveniet maxime nihil. Exercitationem ipsam laudantium voluptatem? Alias assumenda beatae, blanditiis culpa deserunt explicabo impedit libero magnam modi neque nostrum possimus quam quasi quia quis quisquam rem reprehenderit sapiente ut vitae. Alias aliquam aut deserunt eius itaque neque provident quae soluta veritatis voluptatem. Ab autem dolor dolorem fugiat impedit nobis perferendis quaerat quibusdam sed tempora. Ab debitis, excepturi, facilis incidunt magnam, magni maiores nam nulla placeat quod reprehenderit repudiandae sapiente veniam. Architecto assumenda culpa dicta doloremque dolores eaque esse excepturi ipsum, libero minima nam omnis perspiciatis sapiente sed sint sunt tenetur totam vero voluptatem voluptatibus! Aperiam beatae dignissimos dolor, doloremque doloribus earum itaque laboriosam nobis non obcaecati optio pariatur perspiciatis quam quod, ratione reprehenderit tenetur? Accusantium alias aliquid at dolore dolores dolorum eum exercitationem facere fugit illo itaque iure iusto magni nam nemo nesciunt nulla officia pariatur perspiciatis quis tempore tenetur unde, veniam! Ad consequatur consequuntur ea error facere illum nemo rem ut! Cum dolorum ducimus enim est modi odio perferendis quam quis tenetur ut. Aut cupiditate incidunt, maiores neque non quasi unde voluptates? Error, perferendis perspiciatis quibusdam recusandae similique sint tenetur. At eligendi enim error minus repellendus suscipit voluptatem? Ad error fuga quam, similique temporibus veritatis voluptatibus? Aliquid deleniti dignissimos dolore eius est, impedit ipsam magnam neque nesciunt pariatur quas, saepe temporibus tenetur vero vitae voluptas voluptates. Alias, animi atque blanditiis dolores earum enim laudantium repudiandae rerum! Aliquid eos est itaque labore molestias mollitia odit, quisquam. Deleniti.</p>
                <h4 id="list-item-3">Item 3</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam atque debitis distinctio eveniet facilis fugit illum obcaecati officiis perferendis perspiciatis, ullam! Consequatur dolorem error, eveniet explicabo illo minima minus modi pariatur quaerat quas quasi repellendus totam. Assumenda cupiditate eum magni nulla odit praesentium provident, sint voluptatum? A alias aliquid assumenda blanditiis consectetur consequatur, cumque dolorem doloremque doloribus ea eligendi fugiat laboriosam laborum magni modi molestiae natus neque nisi odit perferendis placeat quia quod rem repellendus sint suscipit totam ullam velit vitae voluptates. A architecto atque corporis cumque et eum impedit iste laudantium, molestiae obcaecati quisquam quod, rem suscipit, velit?</p>
                <h4 id="list-item-4">Item 4</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, culpa ducimus eveniet exercitationem illo itaque molestiae, porro possimus quas quis, ratione velit voluptatum! Debitis dicta est fuga hic incidunt neque quaerat repellendus sunt tenetur voluptate? Aliquid dolor excepturi iure quis quisquam quos ratione rem sequi soluta veritatis. Dolorem, expedita porro!</p>
            </div>
        </div>
    </div>


{% endblock %}
