<footer>
    <ul>
        <li>
            <a href="mailto:grekoss.cedric.dev@gmail.com">Contact par mail</a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#modalCGU">C.G.U</a>
        </li>
    </ul>
</footer>
