<footer>
    <ul>
        {#FIXME: modifier l'adresse mail#}
        <li>
            <a href="mailto:pourriascedric@gmail.com">Contact</a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#modalCGU">C.G.U</a>
        </li>
    </ul>
</footer>
