<div class="modal fade" id="modalDisconnect" tabindex="-1" role="dialog" aria-labelledby="modalDisconnectLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDisconnectLabel">Déconnection</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Voulez vous vraiment quitter l'application ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a class="btn btn-danger" href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        </div>
    </div>
</div>
