@import 'app';

.main-title {
  background-color: $posteYellow;
  border-radius: 15px;
  color: $posteBlue;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  padding: 20px 100px;
}

.table-communication {
  border-radius: 15%;
  margin: 1em auto;
  text-align: center;
  width: 75%;
}

.table-communication thead {
  background-color: $posteYellow;
  color: $posteBlue;
  font-weight: bold;
}

.userMainSender {
  background-color: rgba(0, 25, 0, 0.1);
}


