.table th, .table td {
  vertical-align: middle;
}

#results table thead tr th:nth-child(4) {
  width: 40%;
}

/* ==========[#PROFILE]========== */
#profile fieldset {
  border: 1px solid grey;
  padding: 20px;
}

#profile legend {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  width: auto;
}

#profile .profile-form div.mb-3:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#profile .profile-form div.mb-3:nth-child(2) div.input-group {
  width: 49%;
}

.last-connection {
  color: grey;
  font-size: 12px;
  text-align: right;
}
