@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import "app";

.table th, .table td {
  vertical-align: middle;
}

/* ==========[#PROFILE]========== */
fieldset {
  border: 1px solid grey;
  padding: 20px;
}

legend {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  width: auto;
}

.profile-form div.mb-3:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-form div.mb-3:nth-child(2) div.input-group {
  width: 49%;
}

.last-connection {
  color: grey;
  font-size: 12px;
  text-align: right;
}

.errors-box .invalid-feedback {
  width: 50%;
}

.hidden {
  display: none;
}

#js-errors-identical-image {
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 15px;
  width: 40px;
}

