/* ==========[INDEX]========== */
.card {
  min-width: 30%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ==========[SHOW QUIZ]========== */
.jumbotron {
  padding-top: 0;
  padding-bottom: 2rem;
}
.container {
  text-align: center;
}
.container h1 {
  font-size: 1.5rem;
}

.container-length-tags {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  top: 10px;
}

.container-tag {
  text-align: right;
}

.container-results {
  display: flex;
  flex-wrap: wrap;
}

fieldset {
  border: 1px solid grey;
}

.fieldset-sample {
  display: none;
}

.fieldset-results {
  margin-bottom: 2em;
  padding: 20px;
  width: 100%;
  order: 2;
}

legend {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  width: auto;
}

#btn-start {
  order: 1;
  width: 100%;
  margin: 10px 0;
}

#btn-back {
  order: 3;
  width: 100%;
}

/* ==========[CORRECTION]========== */
.correction-container-title {
  background-color: #a0f73e;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.small {
  display: none;
}


/* Tablettes -> Ipad*/
@media (min-width: 750px) {
  /* ==========[SHOW QUIZ]========== */
  .container h1 {
    font-size: 3.5rem;
  }

  .container-length-tags {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    top: 10px;
  }

  .fieldset-sample {
    display: block;
    margin: 2em 0;
    position: relative;
    padding: 0 20px;
  }
  
  .fieldset-sample p {
    text-align: center;
  }
  
  .fieldset-sample button {
    position: absolute;
    top: -5px;
    right: 10px;
    background-color: white;
  }

  /* ==========[CORRECTION]========== */
  .small {
    display: table-cell;
  }

}

/* Desktop */
@media (min-width: 1200px) { 
  .fieldset-results {
    order: 1;
    width: 50%;
  }

  #btn-start {
    width: 25%;
    margin: auto;
    padding: 20px;
  }
}
