@import 'app';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

@font-face {
  font-family: Chilanka-Regular;
  src: url('../fonts/chilanka/Chilanka-Regular.ttf');
}

.table th, .table td {
  vertical-align: middle;
}

p.ratingBox-event {
  margin: 0;
}

.rush-img-little {
  height: 50px;
}

/* ==========[SHOW]========== */
ul {
  list-style: circle;
  margin-left: 1em;
}

fieldset {
  border: solid 1px grey;
  border-radius: 15px;
  height: max-content;
  padding: 0 20px 5px;
  text-align: center;
}

legend {
  font-size: 20px;
  padding: 0 5px;
  text-decoration: underline;
  width: auto;
}

.title {
  color: $info;
  font-family: Chilanka-Regular, cursive;
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;
  text-decoration: underline;
}

.container-rush-info {
  display: flex;
}

.container-rush {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

.rush-img {
  margin: auto;
  width: 50%;
}

.detail-box {
  margin: 0 20px;
}
.detail-item {
  display: flex;
}

.detail-item-title {
  font-weight: bold;
  margin-right: 5px;
}

.row-goals fieldset {
  margin: 20px 0;
}

.img-report-isSeen {
  height: 100px;
  left: -15px;
  opacity: 0.5;
  position: absolute;
  top: -80px;
}

.row-comments {
  justify-content: space-around;
  width: 100%;
}

.comments-mentors-box,
.comments-text {
  text-align: left;
}

.comments-mentors {
  order: 2;
  width: 48%;
}
.comments-mentors-box {
  border-radius: 20px;
  margin-bottom: 1em;
  padding: 10px 10px 0;
}
.comments-mentors-box:nth-child(even) {
  background-color: #a5d6a7;
}

.comments-mentors-box:nth-child(odd) {
  background-color: #d7ffd9;
}

.comments-footer {
  display: flex;
  justify-content: space-between;
}

.comments-footer em {
  font-weight: bold;
}

.comments-footer-buttonsBox button {
  font-size: 10px;
  opacity: 0.6;
}

/* ==========[NEW REPORT]========== */
.working-time-box,
.working-zone-box {
  width: 49%;
}

.value {
  width: 190px;
  height: 36px;
}

#moreFeel, #lessFeel {
  width: 40%;
}
