@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: Chilanka-Regular;
  src: url('../fonts/chilanka/Chilanka-Regular.ttf');
}

.content {
  padding: 0;
}

/* ==========[CHECKBOX]========= */
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  height: 1rem;
  margin-right: .75rem;
  outline: 0;
  position: relative;
  width: 1rem;

  &:before {
    border: 2px solid #f2f2f2;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 1;
  }

  &:checked:before {
    border-color: #8bc34a;
    border-right-style: none;
    border-top-style: none;
    height: 50%;
    transform: rotate(-45deg);
  }
}

/* =========[HEADER]========== */
.container-info-quiz {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  flex-wrap: wrap;
}

.container-info-quiz div:first-child{
  order: 1;
}

.info-title {
  background-color: $primary;
  border-radius: 25px 25px 0 0;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 0px 20px 0 20px;
  margin-top: 5px;
  order: 3;
  text-align: center;
  width: 100%;
}
.container-tag {
  display: flex;
  order: 2;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* ==========[QUESTION]========== */
#listQuestions {
  flex-direction: row;
  position: fixed;
  text-align: center;
  width: 100%;
}

.list-group-item {
  padding: 0.5rem 0.5rem;
}

#container-questions {
  height: 75vh;
  margin-top: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 15px;
  position: fixed;
  right: 0;
}

fieldset {
  border: solid 1px grey;
  margin-bottom: 5em;
  padding: 20px;
}

fieldset:last-of-type {
  margin-bottom: 1em;
}

legend {
  margin: auto;
  padding: 0 20px;
  width: auto;
}
.question-title {
  font-family: Chilanka-Regular, cursive;
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
}

.question-question {
  font-family: Chilanka-Regular, cursive;
  font-size: 1em;
}

#quitter {
  padding: 0 5px 0 5px;
}

.btn-valid {
  margin-bottom: 4em;
}

/* Tablettes -> Ipad*/
@media (min-width: 750px) {
  .content {
    padding: 65px 30px 24px;
  }

  #listQuestions {
    width: calc(75% - 60px);
  }

  #container-questions {
    width: 75%;
    padding: 10px 30px;
  }
}

/* Desktop */
@media (min-width: 1200px) { 
  #quitter {
    position: fixed;
    top: 10px;
    padding: 0 5px 0 5px;
  }

  .container-info-quiz {
    font-size: 1.5em;
  }

  .info-title {
    font-size: 1.5em;
  }

  .container-tag .badge {
    margin: 0 5px;
  }

  .question-title {
    font-size: 2em;
  }

  .question-question {
    font-size: 1.5em;
  }
}
