.box-invitation {
  border: solid 1px darkgrey;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.box-invitation legend {
  margin: auto;
  padding: 0 20px;
  width: auto;
}

.box-invitation button {
  margin-left: 2em;
}
