<div class="tab-pane" id="profile">
    <fieldset class="text-center w-100">
        <legend>Mes données</legend>

        <p class="text-center">Mon mentor est Cédric Pourrias du restaurant de Nogent le Rotrou</p>

        <form class="profile-form" action="">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Prénom & Nom</span>
                </div>
                <input type="text" class="form-control" aria-label="Prénom" value="FIXME: mettre la value" name="firstName">
                <input type="text" class="form-control" aria-label="Nom de famille" value="FIXME: mettre la value" name="lastName">
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-email"><i class="fas fa-at"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-email" value="FIXME: Mettre la value">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-phone"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <input type="tel" class="form-control" placeholder="Numéro de téléphone" aria-label="Téléphone" aria-labelledby="basic-phone" value="FIXME: Mettre la value">
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Mot de passe</span>
                </div>
                <input type="password" class="form-control" aria-label="Mot de passe" name="password" placeholder="Mot de passe">
                <input type="password" class="form-control" aria-label="Confirmation du mot de passe" name="passwordConfirm" placeholder="Confirmation du mot de passe">
            </div>

            <p class="last-connection">Dernière mise à jour du compte : {{ '-1 month'|date('d/m/Y') }}</p>

            <input value="Enregistrer" class="btn btn-outline-success w-75 mt-5" type="submit">
        </form>
    </fieldset>
</div>
