<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Mot de passe oublié</title>
    </head>
    <body>
        <h1>Mot de passe oublié</h1>
        <p>Vous venez de perde votre mot de passe pour vous connecter à l'application sous le compte de : {{ user.username }}.</p>
        <p>Pour vous permettre de vous reconnecter, nous vous fournissons un nouveau mot de passe, que nous vous invitons à copier et le changer dès que possible dans les paramètres de votre profile afin de mettre un mot de passe à votre convenance!</p>
        <p>Voici votre nouveau mot de passe : <b>{{ newPassword }}</b></p>
        <br />
        <a href="{{ absolute_url('/') }}">Se connecter</a>
    </body>
</html>
