{% extends 'baseMain.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block content %}
<style>
    $background: url('../images/backgrounds/user.jpg')
</style>

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/wamp64/www/mcdonalds/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/wamp64/www/mcdonalds/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}

{#https://laravel.sillo.org/bootstrap-4-les-onglets-tab/#}

