{% extends 'baseMain.html.twig' %}

{% block title %}Hello ReportController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('report') }}
{% endblock %}

{% block content %}
    <div class="container-report">
        <a href="#" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i>Ajouter un rapport</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Shift</th>
            <th scope="col">Zone</th>
            <th scope="col">Sentiment</th>
            <th scope="col">Vu</th>
            <th scope="col">Commentaire</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <th>{{ ('now')|date('d/m/Y') }}</th>
            <th>Open</th>
            <th>Cuisine</th>
            <th>4/5</th>
            <th><i class="fas fa-check-square"></i></th>
            <th>yes</th>
            <th>
                <a href="#" title="Voir le rapport" class="btn btn-outline-primary"><i class="fas fa-eye"></i></a>
            </th>

        </tr>
        </tbody>
    </table>

{% endblock %}
